## App
PORT=5588

## Postgres
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:54322/postgres

# JWT SECURITY
JWT_SECRET=your-very-secret-key
JWT_DURATION=3600

# QDRANT
QDRANT_PORT=6333
QDRANT_GRPC_PORT=6334
QDRANT_API_KEY=mysecretpass
QDRANT_URL=http://localhost:${QDRANT_PORT}

# OLLAMA / AI MODELS (using OpenAI SDK with Ollama backend)
OLLAMA_URL="https://jo3m4y06rnnwhaz.askbhunte.com"
EMBEDDING_MODEL="nomic-embed-text:latest"
CHAT_MODEL="llama3.2:latest"
OPENAI_API_KEY="sk-..."

# GOOGLE SDK
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"
GOOGLE_REDIRECT_URI="your_google_redirect_uri"
